@import url("reset.css");                    
.title{
    color: red;
}
div.content{
    color: blue;
}
[class*="-text"]{
    color: greenyellow;
}
#cats{
    color: orange;
}
.list .list1{
    color: violet;
}
.text1 p{
    color: brown;
}
.text3 * {
    color: darkmagenta;
}
.text4 ~ p {
    color: aqua;
}
ol{
    color: coral;
}
.text4 + p {
    color: crimson;
}